# **I love markdown**
## *I really love markdown*

In [3]:
print("This is my first notebook.")

This is my first notebook.

Specifiying my first variable called INTEGER which will have the value of 12.

In [7]:
#set integer equal to 12
INTEGER=12

In [5]:
print(INTEGER)

12

In [6]:
#set FLOAT_PT equal to 12.0
FLOAT_PT=12.0

In [8]:
#print both INTEGER and FLOAT_PT
print(INTEGER, FLOAT_PT)

12 12.0

In [9]:
#set STRING to "The integer is"
STRING="The integer is"

In [10]:
print(STRING)

The integer is

In [11]:
#print the integer is 12, using the variable names 
print(STRING, INTEGER)

The integer is 12

In [13]:
print("The sum is", INTEGER+FLOAT_PT)

The sum is 24.0

In [19]:
STRING2='This is a string\n\n\n'
STRING3="This is\t\t\t also a string"
print(STRING2)
print(STRING3)

This is a string



This is			 also a string

applying methods for the first time

In [20]:
print(STRING)

The integer is

In [22]:
print(STRING.title())

The Integer Is

In [23]:
print(STRING.upper())

THE INTEGER IS

In [24]:
print(STRING.lower())

the integer is

In [29]:
print(f"The integer is {INTEGER} , my favorite integer.".title())

The Integer Is 12 , My Favorite Integer.

In [35]:
FIRST="Sariyah" #set variable FIRST equal to my first name Sariyah
LAST="Dublin" #set variable LAST equal to my last name Dublin
AGE=21 #set a variable equal AGE equal to my age, 21 
NAME=f"My name is {FIRST} {LAST} and I am {AGE} years old.".upper() #set variable NAME equal to "My name is Sariyah Dublin ans I am 21 years old" all in uppercase using variables 
print(NAME) #print MY NAME IS SARIYAH AND I AM 21 YEARS OLD.

MY NAME IS SARIYAH DUBLIN AND I AM 21 YEARS OLD.

Creating my very first list, which is anologous to an array in bash. List, like arrays, are zero-based

In [71]:
#create list 
STUDENTS=['Sariyah', 'Elie', 'Juhie', 'Kena', 'Lu', 'Caroline', 'Jon', 'Shari', 'Hasita']

In [40]:
#see who is in the list in index 4
print(STUDENTS[4])

Lu

In [72]:
#see all the students in the list 
print(STUDENTS)

['Sariyah', 'Elie', 'Juhie', 'Kena', 'Lu', 'Caroline', 'Jon', 'Shari', 'Hasita']

Creating my first nested list

In [41]:
#create nested list 
MY_NEST=[[1, 2, 3, 4], ['Sariyah', 'has', 'a', 'dog'], ['Coding', 'is', 'life']]

In [45]:
#indexing into nested list 
print(MY_NEST[0])
print(MY_NEST[1])
print(MY_NEST[2])

[1, 2, 3, 4]
['Sariyah', 'has', 'a', 'dog']
['Coding', 'is', 'life']

In [46]:
#indexing into individual element in nested list 
#3rd element in my 3rd list 
MY_NEST[2][2]

'life'

In [49]:
print("Coding is making me question decisions I made in my", MY_NEST[2][2])

Coding is making me question decisions I made in my life

In [53]:
print("Coding is making me question decisions I made in my", MY_NEST[2][2])

Coding is making me question decisions I made in my life

List are mutable. We can change things in our list. I want to add elements to my list. I will use a method called append to do this.

In [54]:
print(STUDENTS)

['Sariyah', 'Elie', 'Juhie', 'Kena', 'Lu', 'Caroline', 'Jon', 'Shari', 'Hasita']

In [73]:
#append method 
STUDENTS.append('Brenna')
print(STUDENTS)

['Sariyah', 'Elie', 'Juhie', 'Kena', 'Lu', 'Caroline', 'Jon', 'Shari', 'Hasita', 'Brenna']

We can also remove elements from a list. We remove them based off their index using a method called pop. It takes the format listname.pop(#)

In [74]:
#Rremove name from list, capture in another variable POPPED
POPPED=STUDENTS.pop(9)
print(POPPED)
print(STUDENTS)

Brenna
['Sariyah', 'Elie', 'Juhie', 'Kena', 'Lu', 'Caroline', 'Jon', 'Shari', 'Hasita']

Sometimes you want to reverse the order of your list. This means put what was in the last index in the first index. To do this we use the reverse() method.

In [75]:
STUDENTS.reverse()

In [77]:
print(STUDENTS)

['Hasita', 'Shari', 'Jon', 'Caroline', 'Lu', 'Kena', 'Juhie', 'Elie', 'Sariyah']

In [83]:
BOLOGNA='oscar' #creates a new string variable 
BOLOGNA_LIST=[] #creats empty list

In [79]:
print(BOLOGNA)
print(BOLOGNA_LIST)

oscar
[]

In [84]:
#loop through string to create a list 
for CHAR in BOLOGNA: #for each character in variable BOLONGNA
    BOLOGNA_LIST.append(CHAR)
#lose your indent to get out of your loop 
print(f"My bologna has a first name. It's {BOLOGNA_LIST}.")

My bologna has a first name. It's ['o', 's', 'c', 'a', 'r'].

Slicing is splitting a string into charachters. You can index into a string just liek you can index into a list (or a nested list). We can slice one character, or many characters)

In [88]:
print(FIRST)
print('The LAST letter of my name is:', FIRST[6])

Sariyah
The LAST letter of my name is: h

In [92]:
#slicing many characters from a string at once 
FULLNAME='Sariyah Dublin'
print(FULLNAME)
NEW_FIRST=FULLNAME[0:7] #will show characters 0-6, last number is making sure not including whatever is in that index
NEW_LAST=FULLNAME[8:14] #characters 8-13
print('First name:', NEW_FIRST)
print('Last name:', NEW_LAST)

Sariyah Dublin
First name: Sariyah
Last name: Dublin

We can slice a list just like we can slice string. Slicing means pulling things out of string or lists.

In [95]:
#create a nested list 
ELEMENTS=[['flourine', 'F'],
          ['chlorine', 'Cl'],
          ['bromine', 'Br'],
          ['hydrogen', 'H'],
          ['helium', 'He']]

In [96]:
print(ELEMENTS)

[['flourine', 'F'], ['chlorine', 'Cl'], ['bromine', 'Br'], ['hydrogen', 'H'], ['helium', 'He']]

In [98]:
#Slice last 3 list in the nested list; see the last 3 lists
ELEMENTS[-3:] #negative something with give u the last of whatever your asking, here its last 3 index in this list

[['bromine', 'Br'], ['hydrogen', 'H'], ['helium', 'He']]